@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}
.active hr {
  display: block;
}
.active p {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.bannerleft {
  background-image: url("https://tinyurl.com/43yjs623");
  background-position: 53% 0%;
}

::-webkit-scrollbar{
  display: none;
}
@media (max-width:640px){
  a.active{
    background-color: green;
    color: #fff;
  }
}

.shine-effect:before {
  content: " ";
  position: absolute;
  height: 500px;
  width: 20px;
  background: #f3f3f3;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.5;
  transition: transform 0.9s ease-in-out; /* Smooth transition for the hover effect. */
  transform: rotate(-30deg) translate(200px, 80px);
}

.shine-effect:hover:before {
  transform: rotate(-30deg) translateX(-190px);
}


